.container{margin-bottom: 100px;}
.classy{
    background-color: #fceae8;
    border-radius: 10px;
}

.carousel-item{padding: 20px 40px;}
.price{color: #ff13ff;}

.buy{
background-image: linear-gradient(to bottom,#ff589b,#ff136f);
border-radius: 5px;
padding: 9px 25px;
cursor: pointer;
}
.kar1{background-color: aquamarine;}
.kar2{background-color:  brown;}
.kar3{background-color: blueviolet;}
.kar1,.kar2,.kar3{
    padding: 10px 30px;
    border-radius: 10px;
}
.alok h1{
    color: white;
}
.alok img{
    width: 100px;
    
}

.card{
    border: none;
    box-shadow: 5px 5px 9px wheat
     ;
}